.header__logo {
    margin-bottom: 41px;
    margin-left: 4px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        height: 24px;
        width: 126px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        margin-left: 30px;
    }
}