.profile__pic-button {
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    border: none;
    background-color: rgba(0, 0, 0, .8);
    background-image: url('../../../images/edit-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-in;
}

.profile__pic-button:hover {
    opacity: 1;
}
