@import url('./__copyright/footer__copyright.css');

.footer {
    margin-top: 66px;
    margin-bottom: 60px;
}

@media screen and (max-width: 500px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
    }
}