@import url('./__button-icon/card__button-icon.css');
@import url('./__delete-button/card__delete-button.css');
@import url('./__delete-button/_hidden/card__delete-button_hidden.css');
@import url('./__delete-button/_visible/card__delete-button_visible.css');
@import url('./__fav-button/card__fav-button.css');
@import url('./__fav-button/_active/card__fav-button_active.css');
@import url('./__image/card__image.css');
@import url('./__like-column/card__like-column.css');
@import url('./__like-count/card__like-count.css');
@import url('./__name/card__name.css');
@import url('./__overlay/card__overlay.css');

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}