.card__image {
    display: flex;
    width: 100%;
    z-index: 0;
    height: 282px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}