@import url('./_close/header__menu-btn_close.css');
@import url('./_open/header__menu-btn_open.css');

.header__menu-btn {
    display: flex;
    background-color: transparent;
    border: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
