.form__save-button {
    width: 100%;
    margin-top: 18px;
    border-radius: 2px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    height: 50px;
}


@media screen  and (max-width: 600px) {
    .form__save-button {
        font-size: 14px;
        line-height: 17px;
    }
}